<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>TravelBoo - Booking Confirmation</title>
</head>
<body>
        <h2><p>Xin chào [[name]],</p></h2>
        <p>Chúc mừng! Bạn đã đặt phòng thành công với TravelBoo. Dưới đây là chi tiết đặt phòng của bạn:</p>

        <h3><p>Thông tin đặt phòng:</p></h3>
        <ul>
            <li><strong>Thời gian đặt phòng:</strong> [[time-booking]]</li>
            <li><strong>Ngày check-in:</strong> [[check-in]]</li>
            <li><strong>Ngày check-out:</strong> [[check-out]]</li>
            <li><strong>Khách sạn:</strong> [[hotel]]</li>
            <li><strong>Phòng:</strong> [[room]]</li>
            <li><strong>Tổng giá trị đơn hàng:</strong> [[total-bill]] VNĐ</li>
            <li><strong>Số điện thoại dịch vụ chăm sóc khách hàng của khách sạn:</strong> [[phone]]</li>
        </ul>

        <h4><p>Mã QR cho phòng của bạn:</p></h4>
        <p>Xin vui lòng không chia sẻ mã QR này với bất kỳ ai ngoài nhân viên đối tác khách sạn của chúng tôi!</p>

        <p>Chúng tôi rất mong bạn có một trải nghiệm tuyệt vời tại đối tác của chúng tôi. Nếu có bất kỳ câu hỏi hoặc yêu cầu đặc biệt nào, hãy liên hệ với chúng tôi ngay lập tức:</p>

        <h4><p>Thông tin liên hệ:</p></h4>
        <ul>
            <li><strong>Email:</strong> <a href="mailto:travelboo80@gmail.com">travelboo80@gmail.com</a></li>
            <li><strong>Hotline TravelBoo:</strong> 0975 433 869</li>
        </ul>

        <p>Cảm ơn bạn đã sử dụng dịch vụ của TravelBoo!</p>

        <p>Trân trọng,</p>
        <p>TravelBoo Team</p>
</body>
</html>
