<!DOCTYPE html>
<html lang="VI">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4><p>Thông báo lỗi hệ thống</p></h4>
<p>Xin lỗi vì sự bất tiện này. Hệ thống đã ghi nhận thanh toán của bạn nhưng đã xảy ra lỗi trong quá trình xử lý.
    <br> Chúng tôi sẽ hoàn tiền sớm nhất cho bạn. </p>

<p>Chúng tôi rất mong bạn có một trải nghiệm tuyệt vời tại đối tác của chúng tôi. Nếu có bất kỳ câu hỏi hoặc yêu cầu đặc biệt nào, hãy liên hệ với chúng tôi ngay lập tức:</p>

<h4><p>Thông tin liên hệ:</p></h4>
<ul>
    <li><strong>Email:</strong> <a href="mailto:travelboo80@gmail.com">travelboo80@gmail.com</a></li>
    <li><strong>Hotline TravelBoo:</strong> 0975 433 869</li>
</ul>

<p>Thank you,</p>
<p>TravelBoo.</p>
</body>
</html>